@import "tailwindcss";

.grecaptcha-badge {
    visibility: hidden !important;
}

.nav-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
}

@theme {
    --color-primary: #4f8cff;
    --color-secundary: #ffe066;
    --color-third: #e0f7fa;
    --color-text: #1a1a2e;
    --color-text-secundary: #000000;

    --color-borderLine: #000000;

    --height-default: 60px;
    --width-open: 250px;
    --color-error: oklch(57.7% 0.245 27.325);
    --radius-default: 8px;
}



* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) var(--color-secundary);
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.custom-scrollbar {

    /* WebKit/Blink Browsers */
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: var(--color-secundary);
        border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-primary);
        border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--color-primary);
    }

    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) var(--color-secundary);
}